@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image:linear-gradient(180deg, #40352C, #8C6954, #F2CEAE) ;
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #2e2620;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #40352C;
    text-align: center;
    text-shadow: 1px 1px 2px #221c17bb;
}

h2{
    color: #8C7B26;
}

p{
    text-align: justify;
}