@charset "UTF-8";

/*
    Em HTML é id    = em CSS # (Só pode um elemento com o mesmo id)
    Em HTML é class = em CSS . (pode vários elementos com a mesma class)
*/

body{
    background-color: rgb(140, 229, 146);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 153, 0);
}

#Principal{
    text-align: center;
    color: white;
    background-color: rgb(4, 153, 0);
}

h2{
    color: rgb(2, 58, 24);
}

.basico{
    color: rgb(10, 153, 0);
}

.intermediario{
    color: rgb(135, 153, 0);
}

.avancado{
    color: rgb(153, 0, 0);
}

.destaque{
    background-color: rgba(203, 200, 4, 0.368);
}